/* #div1 {
  background-color: brown;
  height: 500px;
  width: 500px;
} */

/* #div1 {
  background-color: brown;
  height: 500px;
  width: 70%;
} */
/* width: 70%= it will occupy 70% of the body */

body {
  border: 1px solid red;
  height: 500px;
}

/* #div1 {
  background-color: brown;
  height: 50%;
  width: 50%;
  max-width: 500px;
  max-height: 300px;
} */
/* max-width: 500px;= it means that width is 50% but not more then 500 Px */
/* max-height: 300px;= it means that height is 50% but not more then 300 Px  */

#div1 {
  background-color: brown;
  width: 70%;
  min-width: 300px;
  min-height: 400px;
}
