/* Both flex and CSs grid has its own importance and should be used for 
Designing a Web page 

* Grad Word for 2 Dimentional aligment
* Flexbox is Good for diribution */

.grid-container {
  background-color: indianred;
  padding: 20px;
  display: grid;
  /* display: inline-grid; */
  grid-template-columns: 200px 400px;
}
/* grid-template-columns: 200px 400px; ->divide it into two column */
.grid-item {
  background-color: wheat;
  border: 1px solid red;
  padding: 20px;
  font-size: 40px;
  text-align: center;
}

.grid-container2 {
  background-color: indianred;
  padding: 20px;
  display: grid;
  grid-template-columns: 200px 400px auto;
}
/* grid-template-columns: 200px 400px auto; ->divide it into two column and auto will
automatic fill remaining space */
.grid-item2 {
  background-color: wheat;
  border: 1px solid red;
  padding: 20px;
  font-size: 40px;
  text-align: center;
}

.grid-container3 {
  background-color: indianred;
  padding: 20px;
  display: grid;
  grid-template-columns: auto auto auto;
  /* grid-template-columns: auto 50% auto; */
  grid-template-rows: 100px 200px auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}
.grid-item3 {
  background-color: wheat;
  border: 1px solid red;
  padding: 20px;
  font-size: 40px;
  text-align: center;
}

.grid-container4 {
  background-color: indianred;
  padding: 20px;
  display: grid;
  grid-template-columns: 200px 300px 200px;
  /* grid-template-columns: auto 50% auto; */
  grid-template-rows: 100px 200px auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  /* justify-content: end; */
  /* justify-content: start; */
  /* justify-content: center; */
  justify-content: space-between;
  /* justify-content: space-around; */
  /* justify-content: space-evenly; */
}
.grid-item4 {
  background-color: wheat;
  border: 1px solid red;
  padding: 20px;
  font-size: 40px;
  text-align: center;
}

.grid-container5 {
  background-color: indianred;
  padding: 20px;
  display: grid;
  grid-template-columns: 200px 300px 200px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-content: space-between;
  height: 600px;
  align-content: flex-start;
  /* align-content: flex-end; */
  /* align-content: center; */
  /* align-content: space-around; */
  /* align-content: space-between; */
  /* align-content: space-evenly; */
}
.grid-item5 {
  background-color: wheat;
  border: 1px solid red;
  padding: 20px;
  font-size: 40px;
  text-align: center;
}

/* now merging lines */
/* to merging line column 1 and column 2 then we have to merg between 
line 1 - line 3 */
.grid-container6 {
  background-color: indianred;
  padding: 20px;
  display: grid;
  grid-template-columns: 200px 300px 200px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-content: space-between;
  height: 600px;
  align-content: flex-start;
}
.grid-item6 {
  background-color: wheat;
  border: 1px solid red;
  padding: 20px;
  font-size: 40px;
  text-align: center;
}
#grid1-6 {
  grid-column-start: 1;
  grid-column-end: 3;
  /* grid-column: 1/3; */ /*same*/
  /* grid-column: 1 / span2; */ /*same*/
}

.grid-container7 {
  background-color: indianred;
  padding: 20px;
  display: grid;
  grid-template-columns: 200px 300px 200px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-content: space-between;
  height: 600px;
  align-content: flex-start;
}
.grid-item7 {
  background-color: wheat;
  border: 1px solid red;
  padding: 20px;
  font-size: 40px;
  text-align: center;
}
#grid1-7 {
  grid-row-start: 1;
  grid-row-end: 4;
  /* grid-row: 1/span4; */ /*same*/
}

.grid-container8 {
  background-color: indianred;
  padding: 20px;
  display: grid;
  grid-template-columns: 200px 300px 200px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-content: space-between;
  height: 600px;
  align-content: flex-start;
}
.grid-item8 {
  background-color: wheat;
  border: 1px solid red;
  padding: 20px;
  font-size: 40px;
  text-align: center;
}

#grid5-8 {
  grid-area: 1/2/3/4;
}
/* grid-area: row line/column line/row line end/column line end; */

/* how you will going to use grid to make website,there is picture 
of layout in this tutorial wabsite  that is the example*/

/* according to the picture we need 5 grid so */

.grid-container9 {
  background-color: indianred;
  padding: 20px;
  display: grid;
  grid-template-areas:
    "header header header header header header"
    "menu main main main right right"
    "menu footer footer footer footer footer";
  grid-gap: 10px;
}
.grid-item9 {
  background-color: wheat;
  border: 1px solid red;
  padding: 20px;
  font-size: 40px;
  text-align: center;
}

#grid1-9 {
  grid-area: header;
}
/* grid-area: header; ->definig name that what it is */
#grid2-9 {
  grid-area: menu;
}
#grid3-9 {
  grid-area: main;
}
#grid4-9 {
  grid-area: right;
}
#grid5-9 {
  grid-area: footer;
}
