:root {
  --box_color-: #0ff7;
  --rotate_speed-: 30s;
  --baunce_speed-: 1.5s;
}

body {
  background-color: #000;
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 75px;
  perspective: 10em;
  perspective-origin: 50% calc(50% - 2em);
}

@keyframes scenceRotate {
  to {
    transform: rotateY(360deg);
  }
}

.scene {
  position: relative;
  transform-style: preserve-3d;
  animation: scenceRotate var(--rotate_speed-) infinite linear;
}

@keyframes ballBounce {
  0%,
  100% {
    bottom: 0.5em;
  }
  50% {
    bottom: 3em;
    animation-timing-function: ease-in;
  }
}
.ball {
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background: lightblue;
  position: absolute;
  left: -0.5em;
  bottom: 1em;
  background-image: radial-gradient(circle at top, lightblue, #000);
  animation: ballBounce var(--baunce_speed-) infinite ease-out,
    scenceRotate var(--rotate_speed-) infinite linear reverse;
}
@keyframes ballshadow {
  0%,
  8%,
  93.5%,
  100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(2);
    opacity: 0.5;
    animation-timing-function: ease-in;
  }
}
.ballshadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(#0007, #0000 50%);
  animation: ballshadow var(--baunce_speed-) infinite ease-out;
}

/* making the cube box */
@keyframes cubeHeight {
  0%,
  100% {
    height: 1.5em;
  }
  8%,
  93.5% {
    height: 2em;
  }
}
.cube {
  width: 2em;
  height: 2em;

  position: absolute;
  bottom: -1em;
  left: -1em;
  transform-style: preserve-3d;
  animation: cubeHeight var(--baunce_speed-) infinite linear;
}
/* for the four side of the cube */
.left,
.right,
.front,
.back {
  background-color: var(--box_color-);
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 0.5em #000a inset;
}
.front {
  transform: translateZ(1em);
}
.right {
  transform: rotateY(90deg) translateZ(1em);
}
.back {
  transform: rotateY(180deg) translateZ(1em);
}
.left {
  transform: rotateY(270deg) translateZ(1em);
}
.top {
  background-color: var(--box_color-);
  position: absolute;
  width: 2em;
  height: 2em;
  transform: translateY(-50%) rotateX(90deg);
  box-shadow: 0 0 0.5em #000a inset;
}
.bottom {
  background-color: #0007;
  position: absolute;
  width: 2em;
  height: 2em;
  bottom: 0;
  transform: translateY(50%) rotateX(90deg);
  box-shadow: 0 0 0.5em #000;
}
.floor {
  width: 15em;
  height: 15em;
  position: absolute;
  transform: translate(-50%, -50%) rotateX(90deg);
  top: 1em;
  background-image: radial-gradient(#0000, #000 75%),
    repeating-conic-gradient(from 45deg, #111 0deg 90deg, #222 90deg 180deg);
  background-size: 100%, 1em 1em;
}
