@import url("https://fonts.googleapis.com/css?family=Assistant:400,700|Playfair+Display:900");

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  // here we will set the color schema for different mode
  --clr-light: #fdffc4;
  --clr-dark: #00332a;
  --clr-primary: #dbffa2;
  --clr-secondary: #c3fcf2;
  --clr-accent: #ff7750;

  // For light mode
  // now here we will set foreground and background color for light mode
  --foreground: var(--clr-dark);
  // for foreground color will set as '--clr-dark'
  --background: var(--clr-light);
  // and for background color we will set '--clr-light'

  --ff-title: "Playfair Display", serif;
  --ff-body: "Assistant", sans-serif;
}

.darkmode {
  // For Dark Mode:
  // rather then using media query and system preference we will use class to switch between dark and light mode
  --clr-light: #fdffc4;
  --clr-dark: #00332a;
  --clr-primary: #202302;
  --clr-secondary: #00100d;
  --clr-accent: #ff7750;

  // and here we will switch foreground and background color value
  --foreground: var(--clr-light);
  --background: var(--clr-dark);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--ff-body);
  font-size: 18px;
  line-height: 1.6;
}

h1 {
  font-size: calc(3rem + 7vw);
  font-family: var(--ff-title);
  margin: 0 0 0.25em;
  line-height: 1;
}

.subtitle {
  max-width: 600px;
}

.btn-group {
  margin: 2em 0;
  display: relative;
}

.btn {
  padding: 1em 2em;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 5px;
  position: relative;
  display: inline-block;
  line-height: 1;
}

.btn + .btn {
  margin-left: 1em;
}

.btn-secondary {
  background: var(--foreground);
  color: var(--background);
  // border: currentColor solid 2px;
}

.btn-accent {
  background: var(--clr-accent);
  color: var(--foreground);
}

.btn::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: var(--foreground) 2px solid;
  left: -4px;
  top: 4px;
  border-radius: inherit;
  z-index: -1;
}

.intro {
  height: 80vh;
  padding: 10em 0;
  display: grid;
  grid-template-columns: minmax(2em, 1fr) minmax(80vw, 860px) minmax(2em, 1fr);
  background: linear-gradient(120deg, var(--clr-primary), var(--clr-secondary));
  align-content: center;
}

.intro > * {
  grid-column: 2 / 3;
}

.dark-mode-toggle {
  position: absolute;
  z-index: 100;
  top: 1em;
  right: 1em;
  color: var(--foreground);
  border: 2px solid currentColor;
  padding: 4px;
  background: transparent;
  cursor: pointer;
  border-radius: 5px;
  width: 30px;
  height: 30px;
}

.click-here {
  // SVG icon from Font Awesome
  width: 100px;
  right: 1.5em;
  position: absolute;
  top: 3em;
}
