/*
    -> if we want to pass value as well as want to pass extra data then we will use content directive
*/

@mixin bd-radius($value) {
  -webkit-border-radius: $value;
  -moz-border-radius: $value;
  border-radius: $value;
  @content;
}
.abc {
  @include bd-radius(5px) {
    border-style: dashed;
    // here we are passing extra data into the mixin and place this peace of data into the @content
  }
}

@mixin test {
  @content;
}
@include test {
  // here we are passing whole selector inside the mixin using @content
  .block {
    color: green;
  }
}

@mixin test2 {
  #menu {
    @content;
  }
}
@include test2 {
  .block {
    color: green;
  }
  /*
        #menu .block{
            color:green;
        }
    */
}

@mixin hover {
  &:hover {
    @content;
  }
}
.button {
  border: 1px solid black;
  @include hover {
    border-width: 2;
  }
}
/*
    .button{
        border: 1px solid black;
    }
    .button:hover{
        border-width:2;
    }
*/

body {
  background-color: grey;
}

@mixin media($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}
@include media(1300px) {
  body {
    background: red;
  }
}
@include media(1000px) {
  body {
    background: green;
  }
}
@include media(700px) {
  body {
    background: yellow;
  }
}
