/*
*) @media Directive

    .container {
    width: 1100px;
    margin: 0px auto;
    }

    @media screen and (max-width: 1150px) {
        .container {
            width: 900px;
        }
    }
    // in this case we have to set the property of .container class in every type of screen in to solve the proble we have to '@media' Directives

*/

.container {
  width: 1100px;
  margin: 0px auto;
  //   @media Directives
  @media screen and(max-width:1150px) {
    width: 900px;
  }
  @media screen and(max-width:950px) {
    width: 700px;
  }
}

/*
*) @at-root Directives

    // .scss file
   .parent {
    color: red;
    .child {
        width: 100%;
        a {
        color: orange;
        }
    }

    // after compile .css file

    .parent{
        color: red;
    }
    .parent .child{
        width: 100%;
    }
    .parent .child a{
        width: orange;
    }

    // here in this case we can see that in css file for every selector in the begginning scss added .parent class if we don't want it to add then we have to use @at-root Directives
}
*/

.item {
  color: red;
  @at-root {
    .item-wrapper {
      color: green;
      img {
        width: 100%;
      }
    }
  }
  .item-child {
    background-color: pink;
  }
  /*
    // After compile .css file

    .item {
    color: red;
    }
    .item-wrapper {
    color: green;
    }
    .item-wrapper img {
    width: 100%;
    }
    .item .item-child {
    background-color: pink;
    }

    */
}

@media print {
  .container {
    //   value when we print
    font-size: 12px;
    color: green;

    // value at the website
    // it is not working right now
    // @at-root(without : media) {
    //   font-size: 15px;
    //   color: black;
    // }
  }

  .item-wrapper {
    @at-root {
      .item {
        color: red;
      }
    }
  }
}
