/*
    *) Color Function
        a) lighten()
        b) darken()
        c) adjust-hue()
        d) saturate()
        e) desaturate()
        f) mix()
        g) trasparentize()
*/

$base-color: pink;

.test {
  background-color: darken($base-color, 70);
  //   it will dark the $base-color  color using percentage
  background-color: lighten($base-color, 80);
  //   it will light the $base-color color using percentage
  background: adjust-hue($base-color, 60);
  //   adjust-hue(<color>,deg)
  background: saturate($base-color, 80);
  background: desaturate($base-color, 70);
  background: mix(green, red, 50);
  //   to mix two color 50%
  background: transparentize($base-color, $amount: 0.3);
  //   this will trasparent the color according to percentage
  background: red(red);
  //   this will return how much about of red color is involved into the given color 255 means full
  background: green(orange);
  background: blue(white);
  background: hue(white);
  //   this will return deg where the given color is set
  background: saturation(white);
  //   this will return %, that how much saturation give color is
  background: lightness(black);
  //   how much light?
  background: alpha(red);
  // how much trasparent 1 is not trasparent
}
