.main {
  width: 80%;
  margin: 0 auto;
  p {
    //   here we are styling the clild element of inside the parent element
    font-weight: map-get($font-weights, $key: bold);
  }
  .main__paragraph {
    //   we can use other selector as well
    font-weight: map-get($font-weights, $key: bold);
  }
  &__paragraph {
    //   but we can use this as well to select the element
    // & = parent
    font-weight: map-get($font-weights, $key: bold);
  }
  #{&}__paragraph {
    // if we want to select like: .main .main__paragraph {}
    font-weight: map-get($font-weights, $key: bold);
    &:hover {
      // here we are again nesting pseudo class
      color: pink;
    }
  }
}
// normally in css we do like this to style child element:
// .main p{
// }
