/*
    => inbuild Function of Sass:
        *) Numbers
            a) abs()
            b) ceil()
            c) floor()
            d) round()
            e) max()
            f) min()
            g) comparable()
            h) percentage()
            i) random()
            j) unit()
            k) unitless()               
        *) Strings
        *) Colors
        *) Lists
        *) Selectors
        *) Introspection
*/

.test {
  margin: abs(-10px);
  // return 10px
  margin: ceil($number: 5.1);
  //   return 6 (celing value)
  margin: floor(3.9);
  //   return 3 (floor value)
  margin: round($number: 3.4);
  //   return 3
  margin: max(1px, 4px);
  //   return 4px (maximum value)
  margin: min(10px, 100px);
  //   return 10px (minimum value)
  margin: percentage(0.2);
  //   return 20%
  //   to caluculate percentage
  margin: percentage(100px/50px);
  //   return 200%
  margin: comparable(2px, 1px);
  //   return true because both have same unit and it is comparable
  margin: comparable(2px, 4em);
  //   return false
  margin: random($limit: 1);
  //   return < 0 <= random_value <= 1 >
  margin: unit($number: 100px);
  //   return "px"
  margin: unit(100em * 2px);
  //   return "em*px"
  margin: unitless(100em);
  //   return false (if we had give a unit then it will return false else it will return true
}
